body {
  
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.view-container {
  background-color: hsl(0, 0%, 94%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border:5px solod white;
}

.mainPart {
  width: min(90vw, 600px);
  min-height: 70vh;
  background-color: white;
  border-radius: 10px 10px 100px 10px;
  border:2px solid white;
  padding:20px;
}
.class-inputSection{
 width:80%;
 height:auto;
 border:1px solid white;
 display:flex;
 gap:20px;
 margin:0;
 padding:0;
 /*margin-left:20px;
 margin-top:20px;*/
 
}
.class-buttonSection{
  border:1px solid white;
  width:100%;
  /*height:60%;
  /*margin-left:20px;
  /*margin-top:20px;*/
  margin:0; /*hat keine AUswirkung! Warum?*/
  padding:0;
  display:flex;
  height:40%;
  align-items: center;

}
.class-outputSection{
  border:1px solid white;
  width:90%;
  height:50%;
  /*margin-left:20px;
  margin-bottom:40px;
  /*margin-top:20px;*/
  display:flex;
  flex-direction: column;
  
  /*align-items: center;*/

}

@media (max-width:500px){
  .mainPart{
    padding-top:40px;
  }
  .class-inputSection{
    align-items: center;
    gap:9.5%;
    width:100%;
  }

  .class-outputSection{
    width:100%;
    
  }
  .class-buttonSection{
    width:100%;
    position:relative;
    height:64px;
  }
}
@media (max-width: 320px) {
  .view-container {
    justify-content: flex-start; 
  /*  align-items: flex-start;   */
  
  }

 .mainPart {
    width: 100%;
    padding-left: 0;
    padding-right:0;
  }
  .class-inputSection{
    justify-content: space-between;
    gap:3px;
  }
}


@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}